{% load entry_tags %}{% load humanize %}
{% for item in items %}
{% if year_headers %}{% ifchanged item.obj.created.year %}<h3 class="blog-mixed-list-year" style="display: none">{{ item.obj.created.year }}</h3>{% endifchanged %}{% endif %}
{% if day_headers %}{% ifchanged item.obj.created.date %}<h3 class="blog-mixed-list-year" style="display: none">{% if day_links %}<a href="/{{ item.obj.created|date:"Y/M/j/" }}">{{ item.obj.created.date }}</a>{% else %}{{ item.obj.created.date }}{% endif %}</h3>{% endifchanged %}{% endif %}
{% if item.type == "photoset" %}
<div class="photoset segment" style="border-bottom: 0;">
  <a class="primary" href="{{ item.obj.get_absolute_url }}"><img class="primary" src="{{ item.obj.primary.url_s }}" alt="{{ item.obj.primary.title }}" width="75" height="75"></a>
  <h4><a href="{{ item.obj.get_absolute_url }}">{{ item.obj.title }}</a>, a photoset</h4>
  {% if item.obj.description %}<p>{{ item.obj.description }}</p>{% endif %}
  <p class="meta">{{ item.obj.primary.created|date:"f A"|lower }} / {{ item.obj.photos.count }} photo{{ item.obj.photos.count|pluralize }}{% if item.obj.has_map %} / <a href="{{ item.obj.get_absolute_url }}map/">map</a>{% endif %}</p>
  <br style="clear: both">
</div>
{% endif %}
{% if item.type == "entry" %}
<div class="entry segment" style="border-bottom: 0;">
  <h3 style="margin-top: 0; margin-bottom: 0.7em; font-family: 'Helvetica Neue', helvetica, sans-serif; font-size: 19px;">
    {% if item.obj.series and item.obj.series.title == "Today I Learned" %}
     💡 <a href="{{ item.obj.get_absolute_url }}" rel="bookmark">TIL: {{ item.obj.title|typography }}</a></h3>
    {% else %}
     📝 <a href="{{ item.obj.get_absolute_url }}" rel="bookmark">{{ item.obj.title|typography }}</a></h3>
    {% endif %}
  {% if item.obj.card_image %}
    <div class="card-container">
      <a href="{{ item.obj.get_absolute_url }}"><img src="{{ item.obj.card_image }}" alt="Visit {{ item.obj.title }}"></a>
    </div>
  {% endif %}
  <div>
    {% if item.obj.multi_paragraph %}
      {{ item.obj.body|split_cutoff|xhtml|remove_context_paragraph|first_paragraph|strip_links|typography|xhtml2html }}
      <div style="font-size: 0.9em; text-align: center; margin-top: -0.5em; margin-bottom: 0.9em">... <a href="{{ item.obj.get_absolute_url }}">View more</a></div>
    {% else %}
      {{ item.obj.body|split_cutoff|xhtml|remove_context_paragraph|first_paragraph|typography|xhtml2html }}
    {% endif %}
  </div>
  <div class="entryFooter" style="text-align: right; border-top: 0; padding-top: 0; margin-top: 0.5em">
  {% entry_footer item.obj %}
  </div>
</div> <!-- end div.entry -->
{% endif %}
{% with item.obj.tags.all as all_tags %}
{% if item.type == "blogmark" %}
<div class="blogmark segment" style="border-bottom: 0;">
  <p><span style="margin-top: 0; margin-bottom: 0.7em; line-height: 1.4; font-size: 19px;">🔗 <strong><a href="{{ item.obj.link_url }}">{{ item.obj.link_title|typography }}</a></strong>{% if item.obj.via_url %}
    (<a href="{{ item.obj.via_url }}" title="{{ item.obj.via_title|typography }}">via</a>){% endif %}{% if not item.obj.via_url and not item.obj.link_title|ends_with_punctuation %}.{% endif %}</span>
    {% if not item.obj.use_markdown %}{{ item.obj.commentary|typography|linebreaks|strip_wrapping_p }}{% else %}{{ item.obj.body|strip_wrapping_p }}{% endif %}</p>
    <p class="date-and-tags" style="text-align: right; margin-bottom: 0;"><a href="{{ item.obj.get_absolute_url }}" rel="bookmark">#</a> <a style="text-decoration: none !important; border: 0; color: #000" href="/{{ item.obj.created|date:"Y/M/j/" }}">{{ item.obj.created|date:"m/d/y" }}</a>,
    {{ item.obj.created|date:"f A"|lower }}
    {% if all_tags %} / {% for tag in all_tags %}{{ tag.get_link }}{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}</p>
</div>
{% endif %}
{% if item.type == "quotation" %}
<div class="quote segment" style="border-bottom: 0;">
<h3 class="cite" style="margin-top: 0; margin-bottom: 0.7em; line-height: 1.4; font-size: 19px;">💬 {% if item.obj.source_url %}<a href="{{ item.obj.source_url }}">from {{ item.obj.source }}</a>{% else %}{{ item.obj.source }}{% endif %}{% if item.obj.context %}, <span class="context">{{ item.obj.context_rendered }}{% endif %}</span></h3>
  <blockquote style="margin-top: 0;" {% if item.obj.source_url %} cite="{{ item.obj.source_url }}"{% endif %}>{{ item.obj.body }}</blockquote>
  <p class="date-and-tags" style="text-align: right; margin-bottom: 0;">
    <a href="{{ item.obj.get_absolute_url }}" rel="bookmark">#</a>
    <a style="text-decoration: none !important; border: 0; color: #000" href="/{{ item.obj.created|date:"Y/M/j/" }}">{{ item.obj.created|date:"m/d/y" }}</a>,
    {{ item.obj.created|date:"f A"|lower }}
    {% if all_tags %} / {% for tag in all_tags %}{{ tag.get_link }}{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}
  </p>
</div>
{% endif %}
{% endwith %}
{% endfor %}
