{% extends "item_base.html" %}

{% block title %}About Keith Schacht{% endblock %}

{% block rel_canonical %}{% endblock %}

{% block item_content %}
<h2>About me</h2>

<p>Here's my most recent conference bio:</p>

<blockquote>
    <p>Keith Schacht ...</p>
</blockquote>

<h2 id="subscribe">Subscribe</h2>

<p>You can subscribe to my blog via email newsletter, using Atom feeds or by following me on <!-- Mastodon or --> Twitter.</p>

<div style="display: none;">
  <h3 id="newsletter">Newsletter</h3>

  <p>I send out <a href="https://x.substack.com/">a newsletter version</a> of this blog once every week or so. You can subscribe to that here:</p>

  <!--iframe src="https://x.substack.com/embed" width="480" height="320" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe -->
</div>

<h3 id="social">Twitter</h3>

<ul>
    <li><a href="https://twitter.com/keithschacht">@keithschacht</a> on Twitter</li>
    <li><a href="https://www.linkedin.com/in/keithschacht/">Keith Schacht</a> on LinkedIn</li>
</ul>

<h3 id="atom">Atom feeds</h3>

<p>The main feed for my site combines my blog entries, my blogmarks and my collected quotations:</p>

<p><code>https://keithschacht.com/atom/everything/</code></p>

<p>If you just want my longer form blog entries you can subscribe to this feed instead:</p>

<p><code>https://keithschacht.com/atom/entries/</code></p>

<p>Or this feed for just my links (excluding quotes):</p>

<p><code>https://keithschacht.com/atom/links/</code></p>

<p>Every <a href="/tags/">tag</a> on my blog has its own feed. You can subscribe to those by adding <code>.atom</code> to the URL to the tag page.</p>

<p>For example, to subscribe to just my content about AI, use the following:</p>

<p><code>https://keithschacht.com/tags/ai.atom</code></p>

{% endblock %}
