{% extends "base.html" %}

{% block body %}
<div id="bighead">
  <a id="atomfeedlink" href="/atom/everything/" title="My Atom feed"><svg xmlns="http://www.w3.org/2000/svg" width="14px" height="14px" viewBox="0 0 256 256"><rect width="256" height="256" fill="#666666" rx="55" ry="55"/><rect width="246" height="246" x="5" y="5" fill="#666666" rx="50" ry="50"/><rect width="236" height="236" x="10" y="10" fill="#666666" rx="47" ry="47"/><circle cx="68" cy="189" r="24" fill="#FFF"/><path fill="#FFF" d="M160 213h-34a82 82 0 0 0-82-82V97a116 116 0 0 1 116 116z"/><path fill="#FFF" d="M184 213A140 140 0 0 0 44 73V38a175 175 0 0 1 175 175z"/></svg></a>
  <div id="h1-nav-wrapper">
    <h1>Keith Schacht’s Blog</h1>
    <nav style="flex: 1">
      <ul style="flex-direction: row-reverse;">
        <li><a href="/about/" style="color: #0303bb !important">About</a></li>
        <li><a href="/about/#subscribe" style="color: #0303bb !important">Subscribe</a></li>
      </ul>
    </nav>
  </div>
  <div class="h1-nav-wrapper">
    <p style="display: block; padding-bottom: 1em">I'm a builder, entrepreneur, and investor. I've started many companies and sold a few. My first was in college; I sold it my junior year and dropped...  <a href="/about/" style="color: #0303bb !important">more</a>
  </p>
  </div>
  <div id="bigheadcontainer">
  {% if current_tags %}<p id="currenttags">On {% for tag in current_tags %}<a href="/tags/{{ tag }}/" class="item-tag">{{ tag }} <span>{{ tag.total_count }}</span></a> {% endfor %}<a href="/tags/" class="more">...</a></p>{% else %}<a href="/tags/">Tags...</a>{% endif %}
  <form action="/search/" method="GET"><div>
    <input type="search" placeholder="Search this site" class="search-input" name="q" value="" style="max-width: 560px; margin-top: 0.5em">
    <input type="submit" class="search-submit" value="Search">
  </div></form>
  </div><!-- #bigheadcontainer -->
</div><!-- #bighead -->

<div id="band">&nbsp;</div>

<div id="wrapper">
<div id="primary">
{% block primary %}{% endblock %}
</div> <!-- #primary -->

<div id="secondary">
{% block secondary %}{% endblock %}
</div> <!-- #secondary -->
</div> <!-- #wrapper -->
{% endblock %}
